@import "mixins";

.liveTape {
  padding: 38px 10px;
  background: var(--blue-6);

  .title {
    display: flex;
    align-items: center;
    gap: calc(var(--gap) / 2);

    .pointBorder {
      border: 1px solid var(--green);
      border-radius: 50%;
      padding: 4px;

      .point {
        width: 11px;
        height: 11px;
        background: var(--green);
        border-radius: 50%;
        -webkit-box-shadow: 0 0 52px 20px rgba(140, 190, 59, 0.2);
        -moz-box-shadow: 0 0 52px 20px rgba(140, 190, 59, 0.2);
        box-shadow: 0 0 52px 20px rgba(140, 190, 59, 0.2);
      }
    }
  }

  .list {
    position: relative;
    display: flex;
    align-items: center;
    gap: calc(var(--gap) / 2);
    margin-top: 32px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      background: linear-gradient(90deg, rgba(14, 16, 28, 0) 0%, #0E101C 100%);
      width: 100px;
      height: 100%;
    }

    @include desktop() {
      &:before {
        content: '';
        position: absolute;
        right: 0;
        background: linear-gradient(90deg, rgba(14, 16, 28, 0) 0%, #0E101C 100%);
        width: 360px;
        height: 100%;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      background: linear-gradient(180deg, rgba(34, 42, 38, 0.6) -13.73%, rgba(72, 94, 45, 0.6) 113.52%);
      padding: 16px;
      border-radius: 15px;
      border: 1px solid #8CBE3B26;
      min-width: 244px;
      overflow: hidden;

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--gap);
      }
    }
  }
}