@import "mixins";

.rules {
  display: flex;
  align-items: center;
  gap: calc(var(--gap) / 2);
  padding: 8px 14px;
  background: #532E3C;
  border-radius: var(--border-radius);
  color: #FF6868;
  margin-top: 12px;
  cursor: pointer;

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;

  .article {
    line-height: 25px;
    font-size: 0.775rem;
    padding: 12px 0;

    p {
      padding: 8px 0;
    }

    h2 {
      line-height: 45px;
    }

    ol {
      padding: 12px 0;
    }

    li {
      margin-left: 16px;
      color: #88d592;
    }
  }
}

.dialogCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}