sudo iptables -A INPUT -p tcp --dport 4200 -s 127.0.0.1 -j ACCEPT
sudo iptables -A INPUT -p tcp --dport 4200 -j DROP

sudo iptables -A INPUT -p tcp --dport 4242 -s 127.0.0.1 -j ACCEPT
sudo iptables -A INPUT -p tcp --dport 4242 -j DROP

sudo iptables -A INPUT -p tcp --dport 3021 -s 127.0.0.1 -j ACCEPT
sudo iptables -A INPUT -p tcp --dport 3021 -j DROP

sudo iptables -A INPUT -p tcp --dport 4201 -s 127.0.0.1 -j ACCEPT
sudo iptables -A INPUT -p tcp --dport 4201 -j DROP

sudo mkdir -p /etc/iptables
sudo iptables-save > /etc/iptables/rules.v4
sudo apt update
sudo apt install iptables-persistent
sudo iptables-save